body {
    overflow-x: hidden;

}

a {
    text-decoration: none;
}

h2 {
    color: #e4c78f;
    margin-top: -10px;
    margin-bottom: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding: 10px;
    font-weight: 500;
    line-height: 1.6;
}
button {
    margin-top: 10px;
}

p {
    color: #e4c78f;
    margin: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 16px;
    padding: 20px;
    border-radius: 5px;
    font-weight: 500;
    line-height: 2;

}
.main-container {
    flex-grow: 1;
    background-image: url('../../media/images/About-us-min.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    padding: 20px;
    margin: 10px;

}
    
    .card {
        box-sizing: border-box;
        background-image: url('../../media/images/background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: auto;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
        height: auto;
        max-width: 1200px;
        width: auto;
        padding: 30px;
        border: 2px solid #83d2df;


    }



#contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 35px;
    width: 140px;
    margin: 20px;

}





.card-body {
    overflow-y: auto;
}

footer {
    background-color: black;
    padding-left: 50px;

}


.col mb-3 {
    margin-left: 200px;
}


