body {
    box-sizing: border-box;
    overflow-x: hidden;
}
.main-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    box-sizing:border-box;
}
.about-container {
    background-image: url('../../media/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 120vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}


a {
    text-decoration: none;
}

h2 {
    display: block;
    color: #e4c78f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding: 2px;
    font-weight: 500;
    line-height: 1.6;
}
button {
    margin-top: 10px;
}

p {
    color: #e4c78f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    font-size: 18px;
    padding: 10px;
    display: block;
    overflow-y: auto;
    border-radius: 5px;
    font-weight: 500;
    line-height: 2;

}


.card-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('../../media/images/dark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
    vertical-align: center;
    width: 80%;
    height: 90vh;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #83d2df;

}


#contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    height: 35px;
    width: 140px;
    margin: 20px;

}


footer {
    max-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

