body {
    overflow-x: hidden;
    display: flex;
}
.main-container {
    background-image: url('../../media/images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 60vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    .card {
        margin-top: 200px;
        height: 15%;
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        vertical-align: center;
        border: 2px solid #83d2df;
        padding: 10px;
    }



footer {
    max-height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}




