html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}


button {
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    margin: 0 5px 0 5px;
}


.display-inline {
    display: flex;
}
h2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}
img {
    text-decoration: none; margin-right: 5px;
}


.main-container {
    flex: 1;
    background-image: url('../../media/images/other_projects.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    border-radius: 5px;
}

.display-inline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    align-items: center;
    padding: 10px;
    margin: 2px;
    height: auto;
    max-height: 100px;
}

.card-other {
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 80%;
    width: auto;
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #83d2df;

}
form {
    padding:4px;
    display: flex;
    border-radius: 5px;
    height: 100%;
    box-sizing: border-box;
    overflow-y:auto;
    flex-direction:column;
}


.buttons {
    display: flex;
    justify-content: center;
}

#contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 180px;

}

p {
    display: flex;
    justify-content: center;
}


#footer {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: auto;
}


