body {
    overflow-x: hidden;
}

.display-inline {
    display: flex;
}


.main-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}


.card {
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 100px;
    margin-bottom: 10px;
    height: 80%;
    width: 100%;
    padding: 30px;
}

#contact-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 180px;

}




footer {
    background-color: black;
    padding-left: 50px;

}


.col mb-3 {
    margin-left: 200px;
}
