@import "../static/css/reset.css";
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}



.main-container {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 60vh;
    width: 100vw;    
    display: flex;
    justify-content: center;
    
    
    .card {

        margin: 20px;
        height: 55%;
        width: 33%;
        border: 2px solid #83d2df;
        font-size: 16px;
        img {
            height: 55%;
        }
        button {
            border-radius: 5px;
        }
    }
}

footer {
    background-color: black;
    padding-left: 50px;

}


.col mb-3 {
    margin-left: 200px;
}




