{% extends 'head.html' %}
{% block content %}
    {% load static %}
    <div class="about-container">
        <link rel="stylesheet" href="{% static 'css/about.css' %}">

            <div id="div" class="card-about">
                <h2>What I do:</h2>
                <p>{{ model.info }}</p>
                <a href="{% url 'contacts page' %}">
                    <button type="button" class="btn btn-light" id="contact-button">Contact me</button>
                </a>
            </div>

    </div>
{% endblock %}

