{% extends 'head.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projects_styling.css' %}">
    <form action="{% url 'display project' item.id %}" method="POST">
        {% csrf_token %}
        <div class="main-container">
            <div class="card">

                <h2>Title: {{ item.title }}</h2>
                <p>Description:</p>
                <p> {{ item.description }}</p>
                <a href="{{ item.url_link }}">Go to GitHub of repo</a>
                <br>
                <div class="buttons">
                    <button name="vote" value="like" type="submit" class="btn btn-success">Like</button>
                    <button name="vote" value="dislike" type="submit" class="btn btn-danger">Dislke</button>
                </div>

                <p>Current Rating: {{ item.all_votes }}</p>
                <a href="{% url 'index page' %}">
                    <button type="button" class="btn btn-light" id="contact-button">Return to main page</button>
                </a>

            </div>
        </div>
    </form>
{% endblock %}
