{% extends 'head.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/projects_styling.css' %}">
    <div class="main-container">
        <div class="card">
            <form action="{% url 'display project' item.id %}" method="POST">
                {% csrf_token %}
                <h2>Title: {{ item.title }}</h2>
                <p>Description:</p>
                <p> {{ item.description }}</p>
                <a href="{{ item.url_link }}">Go to GitHub of repo</a>
                <br>
{#                {% if user.is_authenticated %}#}
{#                    {% if not user.voted %}#}
                        <div class="buttons">
                            <button name="vote" value="like" type="submit" class="btn btn-success">Like</button>
                            <button name="vote" value="dislike" type="submit" class="btn btn-danger">Dislke</button>
                        </div>
{##}
{#                        <p>You already voted. Thank you.</p>#}

{#                {% else %}#}
{#                    <div class="buttons-authenticate">#}
{#                        <p>Please note that only authenticated users can vote. </p>#}
{#                        <a href="{% url 'register page' %}" class="btn btn-success">Sign Up</a>#}
{#                        <a href="{% url 'login page' %}" class="btn btn-success">Sign In</a>#}
{#                    </div>#}
{#                {% endif %}#}
                <p>Current Rating: {{ item.all_votes }}</p>
                <a href="{% url 'index page' %}">
                    <button type="button" class="btn btn-light" id="contact-button">Return to main page</button>
                </a>
            </form>
        </div>
    </div>
{% endblock %}
