{% include 'head.html' %}
<body data-bs-theme="dark">
    {% include 'nav.html' %}

    <div class="main-container">
        <div class="card">
            <div class="card-body">
                <h3>Projects I'm happy to share</h3>
                <ul>

                </ul>
                <a href="{% url 'index page' %}"><button type="button" class="btn btn-light" id="contact-button">Return to main page</button></a>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</body>
