{% extends 'head.html' %}
{% load static %}
{% block content %}
    <div class="whole-page">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <div class="main-container">
        <a href=" {% url 'django page' %}">
            <div class="card">
                <img src="{% static '../media/images/django.jpg' %}" class="card-img-top" alt="Django cover">
                <div class="card-body">
                    <p class="card-text">Here I show my django knowledge.</p>
                </div>
            </div>
        </a>
        <a href="{% url 'data structures' %}">
            <div class="card">
                <img src="{% static '../media/images/dsa.jpg' %}" alt="...">
                <div class="card-body">
                    <p class="card-text">Data Structures and Algorithms implementations repo.</p>
                </div>
            </div>
        </a>
        <a href="{% url 'flask page' %}">
            <div class="card">
                <img src="{% static '../media/images/flask.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">My Flask repos.</p>
                </div>
            </div>
        </a>
        <a href="{% url 'other projects' %}">
            <div class="card">
                <img src="{% static '../media/images/other_projects.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">Other projects by Petar Evtimov.</p>
                </div>
            </div>
        </a>
    </div>

{% endblock %}

</div>