{% extends 'head.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/other_projects.css' %}">
    <div class="main-container">
        <div class="card-other">
            <form action="{% url 'index page' %}" method="POST">
                {% csrf_token %}
                {% if apps %}
                    <h3>Other interesting repos:</h3>
                    {% for item in apps %}
                        <ul style="list-style-type: none">
                            <li>
                                <a href="{% url 'display project' item.pk %}">
                                    <div class="display-inline">
                                        <h2>{{ item.title }}</h2>
                                    </div>
                                </a>
                                <input type="hidden" name="item_id" value="{{ all_votes }}">
                                <p>Rating: {{ item.all_votes }}</p>
                            </li>
                        </ul>
                    {% endfor %}
                    <a href="{% url 'index page' %}">
                        <button type="button" class="btn btn-light" id="contact-button">Return to main page</button>
                    </a>
                {% else %}
                    <h3>Still nothing added here. :(</h3>
                {% endif %}
            </form>
        </div>
    </div>

{% endblock %}