{% extends 'head.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <div class="main-container">
        <div class="card" style="width: 18rem;">
                <form class="form-inline" action="{% url 'register page' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="submit-button">
                    <button type="submit" class="btn btn-light">Sign Up</button>
                    <button type="submit" class="btn btn-light">Forgot Password</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
